body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}



header{
    
    height: 180px;
    background-image: url(../img/pattern.png);
    background-color: #0db1fd;
    
}

h1{
    font-size: 40px;
    margin-bottom: 0px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
    
}

span{
    color: #0db1fd;
    
}

ul{
    padding-left: 15px;
}

table{
    
    text-align: left;
    border-collapse: collapse;
}
th{
    width: 33%;
    background-color:#0db1fd ;
    color: white;
}

footer{
    margin-left: 10px;
}



.grey-color{
    color: grey;
}

.small{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    
    
}
.images{
    margin-top: 20px;
}

.special-color{
    background-color: rgb(126, 236, 255);
}



.footer-photo{
    width: 250px;
    height: 170px;
    background-size: cover;
    margin-bottom: 10px;
    
}

.inside-photo{
    color: white;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 10px;

}

#main-container{
    width: 54%;
}



#logo{

    width: 250px;
    position: relative;
    top: 80px;
    left: 10px;
}

#author{
    margin: 0;
}

#first-footer-photo{
    background-image: url("../img/monitor.jpg");
    
}

#second-footer-photo{
    background-image: url("../img/graph.jpg");
    
}
